<button class="btn btn-primary" (click)='hideElement = !hideElement'>Edit Profile</button>

<div *ngIf="hideElement" class="edit-form">
  <h3>Edit Volunteer</h3>
  <div>
    <label>Volunteer Name:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedVolunteer.name">
  </div>

  <div>
    <label>Volunteer Quote:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedVolunteer.quote">
  </div>

  <div>
    <label>Volunteer Country:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedVolunteer.country">
  </div>

  <div>
    <label>Volunteer Region:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedVolunteer.region">
  </div>

  <div>
    <label>Volunteer Story:</label>
    <br>
    <textarea class="form-control" [(ngModel)]="selectedVolunteer.story"></textarea>
  </div>

  <div>
    <label>Category:</label>
    <br>
    <select class="form-control" [(ngModel)]="selectedVolunteer.category">
      <option value="Animals"> Animals </option>
      <option value="Medical"> Medical </option>
      <option value="Disaster"> Disaster Relief </option>
      <option value="Construction"> Construction </option>
      <option value="Orphanages"> Orphanages </option>
      <option value="Teaching"> Teaching </option>
      <option value="Other"> Other </option>
    </select>
  </div>

  <div>
    <label>Volunteer Image URL:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedVolunteer.image">
  </div>
  <br>
  <button class="btn btn-primary" (click)="beginUpdatingVolunteer(selectedVolunteer); hideElement = !hideElement">Update</button>
  <button class="btn btn-primary" (click)="beginDeletingVolunteer(selectedVolunteer)">Delete</button>
</div>
