<button class="btn btn-primary" (click)="showForm()">Edit Profile</button>


  <h3>Edit Volunteer</h3>
    <div>
      <div>
        <label>Volunteer Name:</label>
        <br>
        <input [(ngModel)]="selectedVolunteer.name">
      </div>

      <div>
        <label>Volunteer Quote:</label>
        <br>
        <input [(ngModel)]="selectedVolunteer.quote">
      </div>

      <div>
        <label>Current Volunteer Country:</label>
        <br>
        <input [(ngModel)]="selectedVolunteer.country">
      </div>

      <div>
        <label>Current Volunteer Region:</label>
        <br>
        <input [(ngModel)]="selectedVolunteer.region">
      </div>

      <div>
        <label>Volunteer Story:</label>
        <br>
        <textarea [(ngModel)]="selectedVolunteer.story"></textarea>
      </div>

      <div>
        <label>Volunteer Image URL:</label>
        <br>
        <input [(ngModel)]="selectedVolunteer.image">
      </div>

      <button (click)="beginUpdatingVolunteer(selectedVolunteer)">Update</button>
    </div>
