<div class="details">
  <img class="image-details" src= "{{(volunteerToDisplay | async)?.image}}"/>
  <h2 class="detail-name">{{(volunteerToDisplay | async)?.name}}</h2>
  <hr>
  <h4><em>{{(volunteerToDisplay | async)?.quote}}</em></h4>
  <hr>
  <h4>{{(volunteerToDisplay | async)?.country}} |
  {{(volunteerToDisplay | async)?.region}}</h4>
  <h4>Type of Volunteer: {{(volunteerToDisplay | async)?.category}}</h4>
  <hr>
  <h4 class="story"><em>{{(volunteerToDisplay | async)?.story}}</em></h4>
</div>
