<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="/assets/images/Globe.png" class="d-inline-block align-top icon" alt="Globe" routerLink="">
      <a class="navbar-brand" routerLink="">Around The World Volunteers</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="volunteers">Our Volunteers</a></li>
      <li><a routerLink="about">About Us</a></li>
      <li><a class="text-muted" routerLink="admin">Admin</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1></h1>
  <router-outlet></router-outlet>
</div>
