/* You can add global styles to this file, and also import other style files */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding: 15px;
}

html body {
  margin-bottom: 100px;
}

.details {
  text-align: center;
  padding: 10px;
}

.tiles {
  text-align: center;
  border: 1px solid black;
  width: 450px;
  height: 470px;
  display: inline-block;
  margin: 10px;
}

.card-img-top {
  width: 400px;
  border-radius: 10%;
  padding: 10px;
}

.card-text {
  padding: 10px;
}

.image-details {
  width: 600px;
  border-radius: 10%;
}

.edit-form {

}
