/* You can add global styles to this file, and also import other style files */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding: 15px;
}

html body {
  margin-bottom: 100px;
  font-family: 'Crimson Text', serif;
}

.details {
  text-align: center;
  padding: 10px;
  padding: 20px;
}

.tiles {
  text-align: center;
  border: 1px solid black;
  width: 450px;
  height: 550px;
  display: inline-block;
  margin: 10px;
  border-radius: 15%;
  box-shadow: 5px 5px 5px darkgrey;
}

.card-img-top {
  width: 400px;
  border-radius: 15%;
  padding: 10px;
  margin-top: 20px;
}

.card-text {
  padding: 10px;
}

.image-details {
  width: 600px;
  border-radius: 15%;
  box-shadow: 5px 5px 5px darkgrey;
}

.edit-form {
  margin-top: 40px;
  border: 1px solid #8c152c;
  padding: 10px;
}

.btn {
  margin: 10px;
}

.edit-link {
  margin-top: -10px;
  /*color: #8c152c;*/
  text-shadow: 1px 1px 1px darkgrey;
}

.about-img {
  border-radius: 8%;
  box-shadow: 5px 5px 5px darkgrey;
}

.about-page {
  text-align: center;
}

li {
  font-size: 20px;
  margin-right: 10px;
}

label {
  font-size: 18px;
}

.panel-title {
  font-size: 20px !important;
}

input {
  font-size: 18px;
}

.navbar-brand {
  font-size: 22px !important;
  color: #8c152c !important;
}

.icon {
  float: left;
  width: 30px;
  margin-top: 10px;
  margin-right: 8px;
}

.welcome {
  color: #8c152c;
  text-align: center;
  text-shadow: 2px 2px 2px darkgrey;
  font-size: 50px !important;
}

.jumbotron {
  background-image: url("/assets/images/elephant.jpg");
  height: 400px;
  background-position: center;
  box-shadow: 5px 5px 5px darkgrey;
}

.welcome-message {
  text-align: center;
  background-color: #8c152c;
  padding: 10px;
  color: white;
  box-shadow: 5px 5px 5px darkgrey;
}

.volunteer-intro {
  color: #8c152c;
  text-align: center;
  text-shadow: 2px 2px 2px darkgrey;
}

.select-form {
  width: 450px !important;
  margin-bottom: 15px;
  float: right;
}

.details-link {
  color: #8c152c;
  text-shadow: 1px 1px 1px darkgrey;
}

.about-title {
  color: #8c152c;
}

.detail-name {
  color: #8c152c;
  padding: 20px;
  font-size: 40px !important;
  font-style: italic;
}

.viewing {
  font-size: 23px;
}

.filter {
  margin-left: 20px;
}

.tiles:hover {
  background-color: lightgrey;
}
