<h1 class="volunteer-intro">Our Volunteers</h1>
<hr>
<div class="filter">
  <label>Which Type of Volunteers Do You Want To See?</label>
  <br>
  <select class="form-control select-form" (change)="onChange($event.target.value)">
    <option value="Animals"> Animals </option>
    <option value="Medical"> Medical </option>
    <option value="Disaster"> Disaster Relief </option>
    <option value="Construction"> Construction </option>
    <option value="Orphanages"> Orphanages </option>
    <option value="Teaching"> Teaching </option>
    <option value="Other"> Other </option>
    <option value="All Volunteers" selected="selected"> All </option>
  </select>
</div>

<div *ngFor="let volunteer of volunteers | async | categories:filterByCategories" class="tiles">
    <img class="card-img-top" src="{{volunteer.image}}"/>
    <h3 class="card-title" (click)="goToDetailPage(volunteer)">{{volunteer.name}}</h3>
    <h4 class="card-text"><em>{{volunteer.quote}}</em></h4>
    <h4>{{volunteer.country}} | {{volunteer.region}}</h4>
    <h3 class="details-link" (click)="goToDetailPage(volunteer)">View Profile</h3>
  <div *ngIf="currentRoute === '/admin'" class="details">
  <app-edit-volunteer [selectedVolunteer]="volunteer"></app-edit-volunteer>
</div>

</div>
